# See https://help.github.com/ignore-files/ for more about ignoring files.
index.js
index.css
App.test.js
App.sublime-workspace
registerServiceWorker.js
logo.svg
index.sublime-workspace
# dependencies
/node_modules

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

 wi-day-cloudy.svg
wi-day-rain.svg
wi-day-showers.svg
 wi-day-snow.svg
 wi-day-sunny.svg
 wi-day-windy.svg
