.input {
  width: 150px;
}

.field {
  margin-top: 10px;
}
.box {
	display: inline-block;
	width: 100px;
	box-shadow: 1px 2px 2px;
	margin-left: 20px;
	text-align: center;
	padding: 5px;
	height: 150px;
}
.hero-body {
	text-align: center;
}
.cityName {
	margin-top: 10px;
	color: red;
	padding-left: 15px
}
.box-container {
	height: 200px;
	margin-top: 10px;
	padding: 20px;

}
.temps {
	display: inline-block;
	margin-left: 5px;
	margin-right: 5px;
}
.tempContainer {
	position: relative;
	top: 10px;
}
img {
	height: 60px;
	width: 60px;
	margin-top: 10px;
}
.weatherTableTitle {
	margin-bottom: 10px;
	color: red;
}
.tableContainer {
	padding: 15px;

}
.tableRow {
	background-color: white;
}
.tableRow td {
	border: 1px solid lightgrey;
	padding: 8px;
}