.input {
  width: 150px;
}

.field {
  margin-top: 10px;
}
.box {
	display: inline-block;
	width: 103px;
	box-shadow: 1px 2px 2px;
	margin-left: 20px;
	text-align: center;
	padding: 5px;
	height: 168px;
}
.box:hover {
	cursor: pointer;
}
.hero-body {
	text-align: center;
}
.cityName {
	margin-top: 10px;
	color: red;
	padding-left: 15px
}
.box-container {
	height: auto;
	margin-top: 10px;
	padding: 20px;

}
.temps {
	display: inline-block;
	margin-left: 5px;
	margin-right: 5px;
}
.tempContainer {
	position: relative;
	top: -10px;
}
img {
	height: 60px;
	width: 60px;
	margin-top: 10px;
	fill: yellow;
}
img:hover {
	fill: yellow;
}
.sun {
	fill: yellow;
}
/*weather table style*/
.weatherTableTitle {
	margin-bottom: 10px;
	color: red;
}
.tableContainer {
	padding: 15px;
}
.tableRow {
	background-color: white;
}
.tableRow td {
	border: 1px solid lightgrey;
	padding: 8px;
	text-align: center;
}
.tableHeading td {
	border: 1px solid lightgrey;
	text-align: center;
	padding: 8px;
	color: hsl(0, 0%, 100%);
	background-color: hsl(348, 100%, 61%);
}

.dayboxWeekday {
	font-weight: bold;
}
.dayboxMain {
	color: blue;
}
.sunSVG {
	fill: #eaef51;
}
.sunSVG:hover {
	transform: rotate(45deg) scale(1.2);
	fill: #d6d039;
}
.cloudySVG, .rainSVG{
	fill: grey;
}
.cloudySVG:hover, .rainSVG:hover{
	fill: black;
}
svg:hover {
	transition: .4s ease-out;
	transform: scale(1.2);
}


